{% load staticfiles %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Instagram Clone</title>
    <style>

        body{
        background-image: url("{% static "drip.jpg" %}");
        background-repeat: no-repeat;
        background-size: cover;
        margin: 50px
        }

        .main{
        font-family: Comic Sans MS;
        font-size: 25px
        }
    </style>

</head>
<body>


	<div class="main">
            <h1> What's new? </h1>
    </div>

    <div>

        <form method="post", enctype="multipart/form-data">
            {% csrf_token %}


            <div class="main">
                <label for="caption">Caption: </label>
                <input id="caption" type="text" name="caption" value={{ caption }}>

<br>

                <label for="image">Image: </label>
                <input type="file" name="image" accept="image">

            </div>
<br>

            <div>
            <input type="submit" class="btn btn-default" value="Add a picture">
            </div>

        </form>


    </div><br><br>

</body>
</html>